/* App.css */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.button button {
  padding: 10px 20px;
  font-size: 18px;
}

.champs {
  width: 60%;
}

.blueside {
  float: left;
  width: 20%;

}

.redside {
  float: right;
  width: 20%;

}

.champ-row:after {
  clear: both;
  content: '';
  display: table;
}

.champ-row {
  margin: auto;
  padding: 10px;
}