/* App.css */


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.button button {
  padding: 10px 20px;
  font-size: 18px;
}

.champs {
  color: transparent;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

}

.blueside {
  float: left;
  width: 20%;

}

.redside {
  float: right;
  width: 20%;

}
