/* App.css */
body {
  margin: 0;
}

*{box-sizing:border-box;}
*::before{box-sizing:border-box;}
*::after{box-sizing:border-box;}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  margin:0;
  padding:0;
}

.App {
  display: grid;
  font-size: 1.5vh;
  grid-template-areas:
    "timer timer timer timer timer"
    "bluepicks prevbans prevbans prevbans redpicks"
    "bluepicks champs champs champs redpicks"
    "bluebans bluebans next-button redbans redbans";
  grid-template-columns: 17% 21% 24% 21% 17%;
  grid-template-rows: 10% 20% 55% 15%;
  height: 100vh;
  width: 100%;
  padding:20px;
}

.timer {
  grid-area: timer;
  display: flex;
  justify-content: center;
}

.champ-button {
  margin: 0px;
}

.prevbans {
  grid-area: prevbans;
}

.champs {
  align-content: flex-start;
  align-items: flex-start;
  grid-area: champs;
  color: transparent;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.blueside-picks {
  grid-area: bluepicks;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.redside-picks {
  grid-area: redpicks;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blueside-bans {
  grid-area: bluebans;
  display: flex;
  flex-direction: row;
}

.redside-bans {
  grid-area: redbans;
  display: flex;
  flex-direction: row-reverse;
}
